# Default owners for everything
* @luccabb @calebho @giongto35 @jj10306

/gcm/health_checks @A-Kokolis @luccabb @calebho @giongto35

/shelper @tooji @luccabb @calebho @giongto35 @jj10306
/slurmprocessor @tooji @luccabb @calebho @giongto35 @jj10306
