[Unit]
Description=Log storage statistics
After=network.target

[Service]
Type=simple
User=cluster_monitor
Environment="PATH=/usr/local/bin:/public/slurm/20.11.3/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/slurm/bin"
ExecStart=/usr/bin/gcm storage
Restart=on-failure
RestartSec=300
Slice=hc_resources.slice
