[Unit]
Description=Write sacct logs
After=network.target
[Service]
Type=simple
User=cluster_monitor
Environment="PATH=/usr/local/bin:/public/slurm/20.11.3/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/usr/bin/gcm sacct_backfill new -- /usr/bin/gcm sacct_publish
